.ordenarProductos .select_ordenar{
    height: 34px;
    padding: 5px 20px 5px 10px;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 1px 0 0 #ccc;
    -moz-box-shadow: 0 1px 0 0 #ccc;
    box-shadow: 0 1px 0 0 #ccc;
    color: #666;
    max-width: 170px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 8px 3px 0
}

.boton_filtrar_mobile{
    display: none !important;
}

.label__filtro_busqueda{
    background-color: #FFB347;
    padding: 3px 8px;
    border-radius: 5px;
    position: absolute;
    top: 3px;
    color: white !important;
}

.label__filtro_busqueda .item_filtro_busqueda{
    margin-left: 10px;
}

.label__filtro_busqueda .text-mutedd{
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 600;
}


@media(max-width:768px){
    .boton_filtrar_mobile{
        display: block !important;
    }
}