.modalMarca{
    height: 305px;
    overflow-y: scroll;
}

.col_modal_marca{
    box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.16), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
    padding: 3px 0px;
}

.col_modal_marca .imgMarca{
    height: 30px;
}

.col_modal_marca:hover{
    background-color: #f7f3f3;
}

.col_modal_marca .marca_modal{
    margin: 0px!important;
    font-size: 13px;
}

.col_modal_marca .achicarTamaño{
    font-size: 10px;
}