.login__container{
    font-family: 'Quicksand', sans-serif!important;
}

.login__container .title__login{
    font-size: 20px;
}

.login__container .form .label{
    font-size: 14px;
}

.login__container .form .input{margin-bottom: 8px;}

.login__container a{
    color: #FFB347;
    font-weight: 600;
}

.login__container a:hover{
    color: #e79b30;
    transition: all .5 ease;
}

.login__container .registerLink{
    color: #FFB347;
    font-weight: 600;
    cursor: pointer;
}

.login__container .registerLink:hover{
    color: #e79b30;
    transition: all .5 ease;
}