.info_deCompra{
    background-color: white;
    padding: 15px 0px;
}

.borderXYellow{
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-right-color: #FFB347;
    border-left-color:#FFB347;
}
.info_deCompra .iconHome{
    font-size: 25px;
}

@media(max-width:768px){
    .info_deCompra h5{
        font-size:13px;
    }
    .info_deCompra i{
        font-size: 17px;
        margin: 5px 0px !important;
    }
}